# Team
# @carryall is the Team Lead and the others are team members
* @carryall @bterone @hanam1ni @hoangmirs @malparty @rosle @tyrro @nihisil

# Engineering Leads
CODEOWNERS @nimblehq/engineering-leads
